body {
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  color: #222;
  display: flex;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.joke-box {
  position:absolute;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 2rem;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.setup {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.punchline {
  font-size: 1.25rem;
  color: #555;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.container {
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  transform: scale(1);
  z-index: 1;
  display: flex;
  border: #222 solid 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  overflow: hidden;
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}
